:root {
    --dark-color: #191919;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}

.all-wraper {
    width: 80%;
    max-width: 1400px;
    margin: auto;
}

section {
    margin-top: 30px;
}

button,
a {
    cursor: pointer;
}

/* section-header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: 10px 15px;
}

.logo-wraper {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
}

.nav-bar {}

.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

/* section-live-main */

#section-live-main-event {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main-event-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.main-event-heading {
    text-align: center;
}

.live-team-img {
    width: 200px;
    height: 140px;
    border: solid 2px var(--dark-color);
}

.main-event-score {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.main-event-vs {
    font-size: 5rem;
}

.scorers-imgs {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    max-width: 140px;
}

.scorer-img {
    border: solid 2px var(--dark-color);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    flex-shrink: 0;
}




/* section-live-scores */



.live-games-container{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.live-game-1-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(141, 141, 141);
    width: 280px;
    margin: 15px 5px;
}

.teams-and-live-score{
    display: flex;
    margin: 6px;
    width: 280px;
    flex-direction: row;
    justify-content: space-evenly;
}

.teams-and-live-score > img {
    width: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.team-VS-team{
    margin-bottom: 0;
    position: relative;
    top: 10px;
    font-size: 14px;
    color: rgb(141, 141, 141);
}

.live-score{
    display: flex;
    align-items: center;
    font-size: 22px;
}