:root {
    --dark-color: #191919;
    --blue-color: #1C588C;
    --pink-color: #D9304F;
    --yellow-color: #F2D16D;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}

.all-wraper {
    width: 70%;
    max-width: 1080px;
    margin: auto;
    padding: 30px 0;
}

button,
a {
    cursor: pointer;
}

/* section-header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: 10px 15px;
}

.logo-wraper {
    width: 30px;
    height: 30px;
    background-color: var(--yellow-color);
}

.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--yellow-color);
    margin-left: 20px;
}

/* section-live-main-event */
#section-live-main-event {
    background-color: white;
}

.live-main-event-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main-event-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.main-event-heading {
    text-align: center;
}

.live-team-img {
    width: 200px;
    height: 140px;
    border: solid 2px var(--dark-color);
    border-radius: 5px;
}

.main-event-score {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.main-event-vs {
    font-size: 5rem;
}

.scorers-imgs {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    max-width: 140px;
}

.scorer-img {
    border: solid 2px var(--dark-color);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    flex-shrink: 0;
}

.main-event-statistic-btn-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.main-event-statistic-btn {
    border-style: none;
    text-align: center;
    color: white;
    padding: 5px 20px 0;
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--pink-color);
}

/* test */
#home-scorer1 {
    background: url(img/italy\ flag.png);
    background-position: center;
    background-size: contain;
}